body {
  padding-top: 75px;
  text-align: center;
  padding-left:75px;
  padding-right:75px;
}

.btn-default:focus{
  outline:none!important;
}

a:hover{
  color: red;
}

a:focus{
   color:red;
 }

h1 {
  margin: 1%;
}

.backgroundRes {
  margin: 1% 20%;
  background-color: #191919;
  padding: 2% 5%;
}

@media only screen and (max-width: 767px) and (min-width: 450px) {

  .backgroundRes {
    margin: 1% 5%;
  }

  h1 {
    font-size: 200%;
  }

  h2 {
    font-size: 200%;
  }
}

@media only screen and (max-width: 450px) {

  .backgroundRes {
    margin: 1% 1%;
    padding: 1% 1%;
  }

  h1 {
    font-size: 180%;
  }

  h2 {
    font-size: 170%;
  }

  body {
    padding: 1% 3%;
  }
}




