html,body {
  /*padding-top: 75px;*/
  position: relative;
  height:100%;
}
.container-fluid {
  /*min-height: 100%;*/
  height: 100%;
  /*overflow-y: hidden; !* don't show content that exceeds my height *!*/
}

.movie-item {
  /*cursor: pointer;*/
  position:absolute;
  overflow:hidden;
}

#section1 {
  color: #fff;
  background-image: url("../notflixbg.jpg");
  padding-top: 20%;
}
#section2 {
  color: #fff;
  background-color: #000000;
}
.backgroundHome {
  padding-top: 40px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../notflixbg.jpg");
}

h1.textHome {
  line-height: 1.1em;
  font-size: 450%;
  top: 60%;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-shadow: 1px 1px 10px #000;
}

.slogan {
  color: white;
  margin-left: 4%;
  line-height: 1.1em;
  top: 60%;
  font-size: 280%;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-shadow: 1px 1px 10px #000;
}

.netflixText {
  color: red;
  font-family: "Century Gothic", Times, sans-serif;
}

.navbar-inverse .navbar-nav>li>a.netflixText {
  color: red;
}

.navbar-inverse .navbar-nav>li.active>a.netflixText {
  background-color: red;
  color: white;
}

.loginStyle {
  color: white;
  background-color: red;
  border: #9f1010;
}

.loginStyle:hover {
  color: red;
}

.navbar-inverse .navbar-nav>li>a.netflixText:hover {
  color: white;
}

.floatLeft {
  margin-top: 15%;
  background-color: #191919;
  float: left;
  width: 40%;
}

#topFive {
  position: relative;
  padding-left: 20%;
  padding-right: 10%;
  padding-top: 5%;
  float: right;
  width: 60%;
  height: 80%;
}

#topFive img {
  position: absolute;
  display: none;
}

#topFive img.active {
  display: block;
  width: inherit;
  height: inherit;
}

.imgContainer {
  width: 100%;
  float: left;
  border-color: white;
  border: dashed;
  height: 100%;
}

@media only screen and (max-width: 767px) {

  #section1 {
    padding-top: 35%;
  }

  .slogan {
    font-size: 180%;
  }

  h1.textHome {
    font-size: 330%;

  }

  .floatLeft {
    width: 100%;
  }

  #topFive {
    padding: 5%;
    width: 100%;
    height: 80%;
  }
}



